* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0 auto;
}

header {
    background-color: #6A5ACD;
    border-bottom: 2px solid #27408b;   /*#466995;*/
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: capitalize;
    /*text-align: center;*/
}

h2 {
    /*color: #bbb;*/
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 17px;
    color: #466995;
}

p {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    /*background-color: lightblue;*/
    /*border: 1px solid powderblue;*/
    padding: 30px;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
   /* box-sizing: border-box;*/
    /*padding: 25px;*/
    width: 90%;
    position: relative;
    top: 83px;
}

.example-right {
    top: 80px;
    position:relative;
    padding:15px 30px;
    margin-top:10px;
    color:#000;
    background:#af473c; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#af473c), to(#57231e));
    background:-moz-linear-gradient(#af473c, #57231e);
    background:-o-linear-gradient(#af473c, #57231e);
    background:linear-gradient(#af473c, #57231e);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    visibility: hidden;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-right:after {
    content:"";
    position:absolute;
    bottom:-50px;
    left:50px;
    border-width:0 20px 50px 0px;
    border-style:solid;
    border-color:transparent#57231e;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

.button {
    border: none;
    background-color: #e7e7e7;
    color: black;
    font-size: 24px;
    padding: 25px 35px;
    float:right;
    box-shadow: 0 5px #999;
    border-radius: 5px;
    display: inline-block;
}

.button:active {
    background-color: #999;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.example-left {
    top: 80px;
    position:relative;
    padding:15px 30px;
    margin-top:10px;
    color:#000;
    background:#6E7376; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#6E7376), to(#3C3C3C));
    background:-moz-linear-gradient(#6E7376, #3C3C3C);
    background:-o-linear-gradient(#6E7376, #3C3C3C);
    background:linear-gradient(#6E7376, #3C3C3C);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    visibility: hidden;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-left + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-left:after {
    content:"";
    position:absolute;
    bottom:-50px;
    right:50px;
    border-width:0 0px 50px 20px;
    border-style:solid;
    border-color:transparent#3C3C3C;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}